*{margin:0px auto;font-family:'FontAwesome', sans-serif}
a{text-decoration:none;color:#0066cc}
a:hover {text-decoration:underline}

.invalid-feedback {
 color: red;
}

h1{
 clear:both;
 font-size:1.6em;
 margin-bottom:20px
}

h2{
 font-size:1.3em;
 font-weight:lighter
}

h1,h2{
 font-weight:normal;
 clear:both
}

ul{
 list-style-type:none;
 padding-left:0px
}

.txtgruen{
 color:green;
 font-weight:bold
}

.txtblau{
 color:blue;
 font-weight:bold
}

.txtrot{
 color:red;
 font-weight:bold
}

#nav{
 width:100%;
 min-height:50px;
 float:left
}

#nav a{
 font-size:0.9em
}

#box{
 width:100%;
 height:100%;
 position:fixed;
 top:0;
 right: 0;
 bottom: 0;
 left: 0;
 z-index:100;
 display:none;
 background-color:rgba(0,0,0, 0.6);
 overflow-x: hidden;
 overflow-y: auto;
}

#bitte-warten{
 width:300px;
 height:300px;
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 margin-top:auto;
 margin-bottom:auto;
 margin-left:auto;
 margin-right:auto;
 background-color:#fff;
 border:2px solid #0066cc
}

#bitte-warten h2{
 text-align:center;
 margin-top:40px
}

#laden {
 width: 110px;
 height: 110px;  
 margin-top:30px;
 border-radius: 50%;
 border: 16px solid #0066cc;
 border-top: 16px solid #dceeff;
 border-bottom: 16px solid #dceeff;
 animation: spin 2s linear infinite;
 -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

.nav-top{
 width:1180px;
 padding-left:0px
}

.nav-top li{
 float: left
}

#wrapper{
 width:1260px;
 padding-top:20px;
 min-height: calc(87vh - 46px);
 clear:both;
/* overflow:auto*/
}
#nav-stripe-top{
 width:100%;
 float: left;
 background-color:#0066cc
}

#nav-stripe-top a{
 color:#fff;

}

.nav-top li{
 padding:5px 20px
}

#nav-stripe-bottom{
 width:100%;
 float:left;
 border-bottom:1px solid #0066cc;
 background-color:#fff
}

#nav .bottom{
 width:1180px
}

#formular, .formular{
 width:100%;
 padding-top:30px;
 margin-bottom:30px
}



#formular p, .formular p{
 clear:both;
 margin-bottom:5px
}

#formular input, .formular input{
 width:100%;
 margin-bottom:10px;
 box-sizing:border-box;
 border:1px solid #0066cc;
}

#formular input[type=file]{
 border:0px;
 height:30px
}

#formular .time{
 margin-bottom:10px
}

#formular input[type=checkbox]{
 top:4px;
 float:left;
 width:25px;
 position:relative
}

#formular input[type=radio], .formular input[type=radio]{
 top:1px;
 width:25px;
 position:relative
}

#formular select{
 width:100%;
 height:30px;
 border:1px solid #0066cc;
 margin-bottom:10px
}

#formular  #table{
 float:left;
 margin-bottom:30px;
 list-style-type:none;
}

#formular #table li{
 float:left;
 margin-right:20px;
 /*  font-size:1.2em;*/
 height:30px;
 margin-bottom:10px
}

#formular #table li label{
 height:20px
}

#formular #nachricht{
 width:100%;
 font-size:1.2em;
 margin-top:5px;
 min-height:300px;
 box-sizing: border-box;
 border:1px solid #0066cc
}

#formular label,.formular label{
 margin-bottom:10px;
 float:left;
 clear:both;
 width:100%
}

/*#formular input[type=check]{
 
}*/

#formular fieldset{
 margin-top:20px;
 padding:0px;
 border:0px
}

#formular fieldset h2{
 margin-bottom:10px;
 /* float:left wegen TinyMce in aufgabe-neu.php*/
}

#formular #time{
 /* display:none;*/
 clear:both;
 margin:10px 0px
}

#formular .mce-txt{
 color:#595959
}

#formular .time{
 clear:both;
 width:100%;
 float:left;
 min-height:30px
}

#table_rows{
 float:left;
 clear:both;
 width:100%
}

#formular #time_window{
 float:left;
 clear:both;
 width:100%;
 margin:20px 0px
}

#formular ul{
 text-align:center;
 margin:20px 0px
}

#formular #time_window li{
 display:inline-table
}

#formular button, .formular button{
 width:100%;
 height:40px;
 color: #fff;
 margin-top:20px;
 cursor: pointer;
 font-size:1.2em;
 border:1px solid transparent;
 background-color:#0066cc
}

/*#formular #mceu_23{
 float:left
}*/

#formular .mce-container button{
 margin-top:0px;
 background-color:transparent !important
}

#formular #status{
 float:left;
 clear:both;
 width:100%;
 padding:0px
}


#formular #status .row .left{
 width:100px;
 float:left;
}

#formular #status .row .left input[type=text]{
 text-align:center
}

#formular .line_more, #formular #description .delete_row{
 width:200px;
 height:30px;
 color:#fff;
 float:left;
 margin-top:20px;
 margin-bottom:30px;
 margin-right:10px;
 cursor:pointer;
 border:1px solid transparent;
 background-color:#0066cc
}

#formular .line_more:hover, #formular #description .delete_row:hover{
 background-color:#fff;
 color:#0066cc;
 border:1px solid #0066cc
}

#formular .line_more p, #formular .delete_row p{
 text-align:center;
 line-height:30px
}

#formular #status .row .right{
 width:1140px;
 float:left;
 margin-left:10px
}


#formular #status .row{
 float:left;
 clear:both;
 width:100%;
 margin-bottom:10px
}

#formular #status .row p{
 margin-bottom:2px
}

#formular button:hover, .formular button:hover{
 color:#0066cc;
 border:1px solid #0066cc;
 background-color:#fff
}

#formular input[type=text]{
 font-size:1.2em
}

#formular #time input[type=date]{
 width:130px;
 font-size:1.0em;
 margin-right:5px
}

#formular #time input[type=time]{
 width:100px;
 font-size:1.0em;
 margin-right:5px
}

#erfolg{
 width:94%;
 padding:3%;
 min-height:50px;
 color:#0a7736;
 margin-bottom:30px;
 background-color:#99ffc2
}

#kein_erfolg{
 width:94%;
 padding:3%;
 color:#960b0b;
 margin-bottom:30px;
 background-color:#ff7c7c
}

#aufgabentabellen{
 width:100%;
 margin-top:30px
}

#aufgabentabellen thead{
 /* font-weight:bold;*/
 margin-bottom:10px;
 height:30px;
 background-color:#0066cc
}

#aufgabentabellen thead tr td{
 height:30px;
 color:#fff;
 padding-top:10px
}

#aufgabentabellen .aufgabe{
 width:100%;
 padding:3px 0px 3px 0px;
 float:left;
 border-bottom:1px solid #dceeff
}

#aufgabentabellen .aufgabe:hover{
 background-color:#dceeff
}

#aufgabentabellen tr td:first-child{
 width:10%;
 text-align:center
}

#aufgabentabellen tr td{
/* width:74%;*/
 float: left;
}

#aufgabentabellen .tab_zwei{
 width:65%
}

#aufgabentabellen .tab_drei{
 width:7%
}

#aufgabentabellen tr td:last-child{
 width:15%;
 float:right;
 text-align:center
}

#aufgabentabellen #bearbeiten{
 float:none !important
}

#tab_optionen {
 float:left;
 margin-top:20px
}


#tab_optionen li{
 color:#0066cc;
 margin-right:15px;
 cursor:pointer;
 display:inline-block;
}

#tab_optionen li:hover{
 text-decoration:underline
}

#tab_optionen li button{
 border:0px solid transparent;
 background-color:#0066cc;
 color:#fff;
 height:30px;
 cursor:pointer
}

#aufgabenblock{
 margin:20px 0px 30px 0px;
 padding-bottom:30px;
 border-bottom:2px solid #0066cc
}

#aufgaben_bemerkungen {
 margin:20px 0px;
 width:100%;
 clear:both;
 float:left
}

#aufgaben_bemerkungen .bemerkung:first-child{
 border-top:2px solid #0066cc;
}

#aufgaben_bemerkungen .bemerkung{
 width:100%;
 min-height:30px;
 padding:10px 0px;
 float:left;
 clear:both;
 border-top:0px solid #0066cc;
 border-bottom:2px solid #0066cc
}

#aufgaben_bemerkungen .bemerkung .titel{
 margin-top:10px;
 margin-bottom:30px;
 float:left;
 clear:both;
}
#aufgaben_bemerkungen .bemerkung p{
 float:left;
 clear:both
}

#aufgaben_bemerkungen .bemerkung_entfernen{
 float:right !important;
 /* width:200px*/
}

#bemerkung_loeschen{
 float:left;
 width:100%;
 padding-bottom:20px;
 margin-bottom:30px;
 border-bottom:2px solid #0066cc
}

/*#inhalt_gefunden{
 width:100%;
 float:left;
 min-height:30px;
 background-color:#ccc
}*/

#aufgaben_dialog{
 /*  width:500px;
   height:500px;*/
 display:none
}

#aufgaben_dialog #aufgabe_erledigt_checkbox {
 /*  width:100%;*/
 float:left;
 position:relative;
 top:4px;
 right:5px;
 margin-top:20px
  /*  margin-bottom:10px;*/
  /*  border:1px solid #a6c9e2*/
}

#aufgabe_erledigt_checkbox label{
 width:100%
}

#aufgabe_popup_bemerkung{
 float:left;
 clear:both;
 width: 100%;
 margin-top:30px
}


#aufgabe_bemerkung_popup{
 width:100%;
 height:250px;
 box-sizing: border-box
}
/*#aufgaben_dialog #aufgabe_erledigt_checkbox{
  margin-top: 10px;
  margin-left: 10px;
}*/



.ui-widget.ui-widget-content {
 box-shadow:0px 0px 20px #000;
 background-color: #fff
}

#aufgaben_auswahlliste{
 float:left;
 width:180px;
 height:400px;
 margin-top:20px
}

#aufgaben_auswahlliste #titel{
 text-align:center;
 width:100%;
 font-size:1.3em;
 margin-top:10px;
 margin-bottom:10px
}

#aufgaben_auswahlliste .nichts_vorhanden{
 text-align:center;
 font-size:0.9em
}

.aufgabe_zum_auswahl{
 width:95%;
 min-height:20px;
 cursor:pointer;
 z-index:99;
 color:#fff;
 padding:2.5%;
 background-color:#0066cc;
 border-bottom:1px solid #fff
}

.aufgabe_zum_auswahl span{
 font-size:0.8em;
}

.aufgabe_zum_auswahl:hover{
 background-color:#004280; 
 transition: all 0.6s
}

#linketeil{
 float:left;
 width:180px
}

#linketeil .aufgaben_block_kalender{
 float:left;
 clear:both;
 width:180px;
 height:100px;
 cursor: crosshair;
 margin-bottom:10px;
 border-radius: 5px;
 border:1px solid #999;
 background-color:#eee
}

#linketeil .aufgaben_block_kalender p{
 text-align:center;
 font-size:0.9em;
 margin:23px 10px 0px 10px
}

#rechte_teil{
 float:right;
 width:1070px
}

#aufgaben_kalender{

}

#aufgaben_kalender .fc-day{
 transition: all 0.4s
}

#aufgaben_kalender .fc-day:hover{
 background-color:#cde6ff
}


#footer{
 width:100%;
 clear: both;
 min-height:40px;
 border-top:3px solid #0066cc
}

#footer #game_copy{
 text-align:center;
 width:300px;
 padding-top:15px
}

/*#footer #game_copy a:hover{
 text-decoration:underline;
 transition: all 0.8s !important
}*/

.fovrm{
 display:block
}

.fnvrm{
 display:none
}

#loginformular{
 width:300px;
 height:200px;
 padding:10px;
 position:absolute;
 top:0;
 bottom: 0;
 left: 0; 
 right: 0; 
 margin-top:auto;
 margin-bottom:auto;
 margin-left: auto; 
 margin-right: auto; 
 /*  border-radius:5px;*/
 box-sizing:border-box;
 /*  border:2px solid #cde6ff*/
}

#loginformular h2{
 text-align:center;
 margin-bottom:10px;
}

#loginformular input{
 text-align:center
}

#loginformular input, #loginformular button{
 width:100%;
 height:30px;
 font-size:1em;
 margin-bottom:10px;
 box-sizing:border-box;
 border:1px solid #a6c9e2
}

input:hover,input:focus{
 background-color:#dceeff;
 transition: all 0.6s
}

#loginformular button{
 color:#fff;
 border:1px;
 cursor:pointer;
 background-color:#0066cc
}

#loginformular button:hover{
 color:#0066cc;
 border:1px solid #0066cc;
 background-color:#fff;
 transition: all 0.5s
}
/*#aufgaben_kalender .fc-day{
  transition: all 0.4s
}*/

.quadrat{
 width:15px;
 height:15px;
 float:left
}

.gruen{
 background-color:green
}

.blau{
 background-color:blue
}

.grau{
 background-color:#666
}

#aufgaben_legende{
 margin-top:20px;
 margin-left:10px;
 margin-bottom:10px
}

#aufgaben_legende li{
 display:inline-block;
 margin-right:30px;
}

#aufgaben_legende li span{
 position:relative;
 top:3px;
 right:10px
}

#aufgaben_kalender .fc-event-container{
 background-color:#fff
}

#aufgaben_kalender .fc-popover .fc-close{
 margin-top: 2px;
}

#aufgabe_bearbeiten{
 width:80%;
 min-height:300px;
 position:relative;
 top:0;
 bottom:0;
 left:0;
 right:0;
 overflow:auto;
 margin-top:auto;
 margin-bottom:auto;
 margin-left:auto;
 margin-right:auto;
 background-color:#fff;
 border:2px solid #0066cc
}

#aufgabe_bearbeiten_kopf{
 width:98%;
 height:40px;
 margin-top:10px;
 /*  background-color:yellow*/
}

#aufgabe_bearbeiten_kopf #aufgabe_schliessen{
 width:40px;
 height:40px;
 float:right;
 /*  background-color:#a6c9e2;*/
 cursor:pointer
}

#aufgabe_bearbeiten_kopf #aufgabe_schliessen:after{
 position:relative;
 top: -30px;
 bottom: 0;
 left: 4px;
 right:0;
 content:"\2715";
 font-size: 35px;
 line-height:100px
}

#aufgabe_bearbeiten_kopf #aufgabe_schliessen:hover{
 background-color:#a6c9e2
}

#aufgabe_bearbeiten_inhalt{
 width:90%;
 margin-top:10px;
 min-height:100px;
 /*  background-color:yellowgreen*/
}


#links_aufgabe_bearbeiten li{
 display:inline-block;
 margin-right:30px;
 cursor:pointer;
 color:#0066cc
}

#links_aufgabe_bearbeiten li:hover{
 text-decoration:underline
}

#aufgabe_bearbeiten_text{
 margin-top:30px;
 clear:both
}

#aufgabe_bearbeiten_text .aufgabe_titel{
 margin-bottom:15px
}

#aufgabe_erstellt_datum{
 margin-bottom:30px
}

#aufgabe_bearbeiten_bemerkungen{
 min-height:30px;
 box-sizing:border-box;
}

#aufgabe_bearbeiten_bemerkungen .aufgaben_bemerkung{
 border-bottom:1px solid #0066cc
}

#aufgabe_geschriebene_bemerkung{
 float:left;
 width:100%;
 min-height:1px;
 margin:10px 0px
}

#aufgabe_bemerkung_text{
 min-height:250px;
 width:100%;
 border:1px solid #0066cc;
 box-sizing:border-box
}

.taste{
 width:100%;
 height:40px;
 color:#fff;
 cursor:pointer;
 margin-top:10px;
 box-sizing:border-box;
 background-color:#0066cc
}

.taste:hover{
 color:#0066cc;
 border:1px solid #0066cc;
 background-color:#fff
}

.taste p{
 text-align:center;
 line-height:37px
}

#inhalt_aufgabe{
 margin:30px 0px;
 clear:both
}

#aufgabe_bearbeiten_bemerkung_schreiben{
 margin:30px 0px;
 float:left;
 width:100%
}

#aufgabe_bearbeiten_bemerkungen .aufgabe_bemwerkungsdatum{
 margin:10px 0px
}



.aufgaben_bemerkung, .aufgaben_bemerkung_nichts{
 /*  margin:10px 0px;*/
 padding:10px 0px;
 /*  border-top:1px solid #0066cc;*/
 border-bottom:1px solid #0066cc;
 float:left;
 width:100%
}
.aufgaben_bemerkung:first-child, .aufgaben_bemerkung_nichts:first-child{
 border-top:1px solid #0066cc !important;
 border-bottom:0px solid transparent
}



#aufgabenstatus{
 margin-top:10px
}

@-moz-document url-prefix() {
 #formular input[type=checkbox]{margin-right:0px}
}
/*
flash messages
 */
.alert {
 padding: 20px;
 background-color: #f44336;
 color: white;
 opacity: 1;
 transition: opacity 0.6s;
 margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
 margin-left: 15px;
 color: white;
 font-weight: bold;
 float: right;
 font-size: 22px;
 line-height: 20px;
 cursor: pointer;
 transition: 0.3s;
}

.closebtn:hover {
 color: black;
}
/*********************************/