/**********************************************************************************************************************/
/* view: website */
html, body {
    background: whitesmoke; /* fallback for old browsers */
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: KaushanScript;
    src: url("../font/KaushanScript-Regular.ttf") format("truetype");
}

a:hover {
    color: #76b901;
}

.col {
    flex-grow: 0;
}

.col-sm-2 {
    padding: 5px;
}

.list-group-item {
    display: list-item;
}

/* flash messages */
.alert {
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.alert.danger {
    background-color: #f44336;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* modal window */
.modal {
    position: fixed;
}

.modal-dialog {
    margin: unset;
    padding-top: 48px;
    width: 100%;
    max-width: unset;
    margin-left: 2px;
}

.modal-header {
    padding: 0.5rem 0.5rem;
}

.modal-footer {
    padding: 0.5rem 0.5rem;
}

.modal-backdrop {
    /* Bug by framework */
    display: none;
}

.img-trash {
    cursor: pointer;
    position: absolute; /* Position the background text */
    top: 5px; /* At the bottom. Use top:0 to append it to the top */
    right: 5px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    padding-left: 5px;
    padding-right: 5px;
}

.blog_preview_img, .sm_social_img {
    width: 100%;
    cursor: pointer;
}

.blog_preview_img:hover, .sm_social_img:hover {
    -ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Safari 3-8 */
    transform: scale(0.8);
}

@media (min-width: 1200px) {
    .modal-dialog {
        margin: unset;
        padding-top: 48px;
        width: 100%;
        max-width: unset;
        margin-left: 2px;
    }

}

@media (min-width: 1px) {
    .modal-dialog {
        padding-top: 68px;
        padding-left: -25px;
        margin-left: 0px;
    }
}

/**********************************************************************************************************************/
/* view: 2-nav-top-user */
#nav_top_user_content {
    position: relative;
}

.hr_menu {
    border-top: 1px solid grey;
    width: 81%;
}

.h4_nav_top_user {
    font-family: KaushanScript;
    color: #76b901;
    text-align: center;
}

.p_nav_top_user {
    font-family: Calibri;
    color: white;
    margin-left: 5px;
}

.sm_main_img {
    object-fit: cover;
}

.invalid-feedback {
    padding-left: 6px;
}

#home_menu {
    color: rgb(118, 185, 1);
    font-size: 25px;
    float: left;
    border: 1px solid rgb(118, 185, 1);
    border-radius: .25rem;
}

#subscribe {
    font-size: 25px;
    float: left;
}

#login {
    font-size: 25px;
    float: left;
}

#toggle_main_menu {
    font-size: 25px;
    float: left;
}

#toggle_share_menu, #toggle_login_menu, #toggle_main_menu {
    color: white;
    border: 1px solid white;
    border-radius: .25rem;
}

.list-group-item { /* always display button .navbar-toggler */
    padding: .2rem 1.25rem;
    background-color: #333a40;
    color: #808488;
}

#collapse_share_menu, #collapse_login_menu, #collapse_main_menu {
    border-top: none;
    left: 4px;
    min-width: 280px;
}

@media (max-width: 590px) {
    #collapse_share_menu, #collapse_login_menu, #collapse_main_menu {
        margin-left: -16px;
    }
}

#socialMedia_name, #socialMedia_link, #sm_social_image_server, #custom-file-label_sm_social_image, #message_sm,
#register_firstname, #register_surname, #register_email, #register_password, #register_confirm_password, #submit_register,
#login_email, #login_password, #login_verification_code, #submit_login,
#setting_old_password, #setting_new_password {
    width: 96%;
    border-color: #76b901;
    background-color: transparent;
    margin-left: 5px;
    color: #76b901;
}

.sm_admin_image {
    cursor: no-drop;
    padding: 5px;
}

.sm_user_image {
    cursor: pointer;
    padding: 5px;
}

#register_link,
#login_link {
    width: 96%;
    border-color: white;
    background-color: transparent;
    margin-left: 5px;
    color: white;
}

#logout, #submit_social_media {
    width: 96%;
    border-color: deepskyblue;
    background-color: transparent;
    margin-left: 5px;
    color: deepskyblue;
}

/* social media */
#edit_social_media_icon {
    color: #76b901;
    cursor: pointer;
    padding-left: 3px;
    font-size: 1.4rem;
}

#social_media_data {
    margin-top: -5px;
}

#search_main_menu,
#mm_edit_title,
#mm_add_child,
#setting_email, #setting_new_password_confirm {
    width: 81%;
    border-color: #76b901;
    background-color: transparent;
    margin-left: 5px;
    color: #76b901;
    float: left;
}

#submit_search_input,
#submit_edit_input,
#submit_add_child_input,
#setting_submit_email {
    margin-left: 3px;
    border-color: #76b901;
    background-color: transparent;
    color: #76b901;
    width: 15%;
}

#setting_submit_password {
    margin-left: 3px;
    border-color: #76b901;
    background-color: transparent;
    color: #76b901;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.card-header {
    padding: .2rem 1.25rem;
    color: white;
    background-color: #333A40;
}

.card {
    border: none;
}

.card-body {
    padding: 0;
}

#mm_load_box, .login_menu_content, #share_menu_content {
    max-height: 400px;
    overflow: auto;
    border: 4px solid #333a40;
}

#mm_load_box::-webkit-scrollbar, #share_menu_content::-webkit-scrollbar, .login_menu_content::-webkit-scrollbar {
    height: 2px;
    width: 2px;
}

#mm_load_box::-webkit-scrollbar-thumb, #share_menu_content::-webkit-scrollbar-thumb, .login_menu_content::-webkit-scrollbar-thumb {
    background-color: #76b901; /*scroll line color*/
}

#mm_load_box::-webkit-scrollbar-track, #share_menu_content::-webkit-scrollbar-track, .login_menu_content::-webkit-scrollbar-track {
    background: #333a40; /*scroll bg*/
}

#mm_load_box::-webkit-scrollbar-corner, #share_menu_content::-webkit-scrollbar-corner, .login_menu_content::-webkit-scrollbar-corner {
    background: #333a40; /*scroll bg*/
}

/* style of main menu tree */
ol.tree {
    padding: 0px 10px 0 27px;
    width: inherit;
    margin-bottom: 5px;
    list-style: none;
}

li {
    position: relative;
    margin-left: -15px;
}

li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}

li input + ol {
    background: url(../img/ui/arrow_right_white12x12.png) 40px 0 no-repeat;
    margin: -1.600em 0px 8px -44px;
    height: 1em;
}

li input + ol > li {
    display: none;
    margin-left: -14px !important;
    padding-left: 1px;
}

li label {
    /*background: url(../img/ui/?) 12px 1px no-repeat;*/
    cursor: pointer;
    display: block;
    padding-left: 15px; /*37px*/
}

li input:checked + ol {
    background: url(../img/ui/arrow_down_green12x12.png) 40px 5px no-repeat;
    margin: -1.96em 0 0 -44px;
    padding: 1.563em 0 0 80px;
    height: auto;
}

li input:checked + ol > li {
    display: block;
    margin: 8px 0px 0px 0.125em;
}

li input:checked + ol > li:last-child {
    margin: 8px 0 0.063em;
}

.main_menu_link {
    color: white;
    text-decoration: none;
    padding-left: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px;
}

.main_menu_link:hover {
    color: white;
    text-decoration: none;
}

.main_menu_checkbox {
    margin: 5px 0 0 -7px;
}

.delete_main_menu_el {
    float: right;
    padding: 5px 0 0 15px;
}

/* message flash */
#main_menu_message {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0.5rem;
}

#msg-flash {
    padding: 15px 15px 15px 15px;
    margin-bottom: 0.5rem;
}

/* mm edit title */
.mm_edit_title_icon, .mm_add_child_icon {
    height: 12px;
    width: 12px;
}

#mm_edit_title_form, #mm_add_child_form {
    display: none;
}

/**********************************************************************************************************************/
/* view: 3-nav-top-admin */
#nav_top_admin {
    z-index: 1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    line-height: 1em;
    top: 66px;
    width: 100%;
}

.nav-link {
    color: white;
    padding: 0;
}

.active .nav-link {
    color: #76b901;
}

.nav-link:hover {
    color: #76b901;
}

.admin_nav_item {
    padding-left: 15px;
}

#edit_content {
    color: #76b901;
}

#edit_content_icon {
    font-size: 0.9rem;
    cursor: pointer;
}

/**********************************************************************************************************************/
/* view: 3a-single-page-content */
/* tinymce */
/* position fixed of toolbars */
.tox.tox-tinymce--toolbar-sticky-on .tox-editor-header {
    top: 90px !important;
}

#tinymce_data {
    width: 100%;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: scroll;
}

/* don't display left tooltip, because it does not implement image zoom class by default */
.tox-pop.tox-pop--left {
    display: none !important;
}

/* form submit button */
#submitTinyMCEContent {
    margin-bottom: 10px;
}

#blog_observe_permissions, #blog_rank, #blog_category, #blog_title, #blog_preview_image {
    width: 100%;
}

#blog_preview_image_server {
    text-align: center;
    width: 100%;
    background: white;
}

#blog_preview_image_server:hover {
    cursor: default;
}

/* input type=file */
.custom-file-label::after {
    content: none;
}

.custom-file-label {
    content: none;
}

#custom-file-label_blog_preview_image {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* radio buttons */
.custom-control-input:checked ~ .custom-control-label::before {
    color: white;
    border-color: rgb(118, 185, 1);
    background-color: rgb(118, 185, 1);
}

/* Hidden Main Context */
#blog_preview_images_list {
    top: 22px;
}

#blog_preview_images_list_modal_body {
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}

/**********************************************************************************************************************/
/* view: 3b-all-page-content */
/* Category */
.img-text-block {
    position: absolute;
    bottom: 20px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
}

/* Rank */
.img-rank-block {
    position: absolute; /* Position the background text */
    top: 5px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: yellow; /* Grey text */
    padding-left: 5px;
    padding-right: 5px;
}

/* Views */
.img-text-clicked {
    position: absolute; /* Position the background text */
    top: 5px; /* At the bottom. Use top:0 to append it to the top */
    right: 5px;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    padding-left: 5px;
    padding-right: 5px;
}

.col-sm-6, .col-md-4, .col-lg-3, .col-xl-5 {
    padding: 5px;
}

.article_main_img {
    width: 100%;
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/* pagination */
#load_pagination_box {
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 1px;
    border-top: 5px solid whitesmoke;
}

.page-item {
    margin-left: 0;
}

.page-link:hover {
    color: white;
    text-decoration: none;
    background-color: transparent;
}

.page-link {
    color: white;
    background-color: transparent;
}

.page_current {
    color: #76b901 !important;
    border-color: #76b901 !important;
}

/**********************************************************************************************************************/
/* view: benchmark */
.benchmark td:first-child {
    width: 5%;
}

.benchmark td:nth-child(2) {
    width: 75%;
}

.benchmark td:last-child {
    width: 20%;
}

.none {
    display: none;
}

/**********************************************************************************************************************/

