.cookiealert {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    transition: all 500ms ease-out;
    color: #ecf0f1;
    background: #333A40;
}

.cookiealert.show {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
    transition-delay: 1000ms;
}

.cookiealert a {
    text-decoration: none;
    color: deepskyblue;
}
.cookiealert a:hover {
    color: #76b901;
}

.cookiealert .acceptcookies {
    margin-left: 10px;
    vertical-align: baseline;
}

#cookie_agree {
    border-color: #76b901;
    background-color: transparent;
    color: #76b901;
}

.cookiealert-container {
    margin-top: 8px;
}
